<!-- src/app/listar-representantes/listar-representantes.component.html -->
<div class="container mt-5">
  <h1 class="mb-4">Lista de Representantes</h1>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nro</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Profesión</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let representante of representantes">
          <td>{{ representante.id }}</td>
          <td>{{ representante.nombre }}</td>
          <td>{{ representante.apellido }}</td>
          <td>{{ representante.direccion }}</td>
          <td>{{ representante.telefono }}</td>
          <td>{{ representante.profesion }}</td>
          <td>
            <button class="btn btn-primary btn-sm" [routerLink]="['/pagina/registrarRepresentante', representante.id]">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminarRepresentante(representante.id)">Suprimir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
