.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.vh-80 {
  height: 80vh !important;
}

.container.form-container {
  max-width: 700px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

h1 {
  margin-bottom: 30px;
  font-size: 2rem; /* Ajusta el tamaño del texto del encabezado */
}

.form-group {
  margin-bottom: 25px; /* Incrementa el espacio entre los grupos de formularios */
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  padding: 15px;
  font-size: 1.25rem; /* Aumenta el tamaño del texto en los campos de entrada */
}

.text-danger {
  margin-top: 10px; /* Incrementa el espacio entre los mensajes de error y los campos de entrada */
}

button {
  margin-top: 30px; /* Incrementa el espacio superior del botón */
  width: 100%;
  padding: 15px;
  font-size: 1.5rem; /* Aumenta el tamaño del botón */
}
