   <div *ngIf="isAuthenticated; else loginTemplate">
    <div class="titulo">
      <app-titulo></app-titulo>
    </div>
    <label class="user">Usuario: {{user}} - {{userRole}}</label>
    <button (click)="logout()" class="floating-button">Cerrar Sesión</button>
    <div class="menu">
      <app-menu [userRole]="userRole"></app-menu>
    </div>
    <div class="cuerpo">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
  <ng-template #loginTemplate>
    <app-login (loginSuccess)="onLoginSuccess()"></app-login>
  </ng-template>
  
  